<!DOCTYPE html>

<html>
    <head>
        <title>SNDY</title>
    </head>
    <body>

        <header>
            <h1>
                <a href="/">SNDY Django Blog</a>
            </h1>
        </header>

        {% for post in posts %}

        <article>
            <time>Published: {{ post.published_date }}</time>
            <h2><a href=""> {{ post.title }} </a></h2>
            <p> {{ post.text|linebreaksbr }} </p>
            <!-- <time>Published: MM.DD.YYYY, 00:00</time>
            <h2><a href="">First post</a></h2>
            <p>Lorem ipsum dolor eme.</p> -->
        </article>

        {% endfor %}

        <!-- Second article -->
        <!-- <article>
            <time>Published: MM.DD.YYYY, 00:00</time>
            <h2><a href="">Second post</a></h2>
            <p>Lorem ipsum dolor ers.</p>
        </article> -->

    </body>
</html>

</html>